.purchase-order-form {
  max-width: 300px;
}

.purchase-order-form-margin {
  margin-bottom: 16px;
}

.purchase-order-form-forgot {
  float: right;
}

.purchase-order-form-button {
  width: 100%;
}

.purchase-order-title {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.select-client {
  width: 100% !important;
}

.select-product {
  width: 300px !important;
}

.quantity {
  width: 100px !important;
}

.table-order-items {
  margin-top: 20px;
}
