<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/">
      <em nz-icon nzType="home"></em>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/purchase-order">
      <em nz-icon nzType="user"></em>
      <span>Lista de pedidos</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Cadastrar pedido</nz-breadcrumb-item>
</nz-breadcrumb>
<h1 nz-typography class="purchase-order-title">Cadastrar pedido</h1>
<form nz-form [formGroup]="form" class="purchase-order-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group>
        <input type="datetime-local" [disabled]="true" nz-input [value]="now"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Por favor selecione um Cliente!">
      <nz-input-group>
        <nz-select nzShowSearch formControlName="client" class="select-client" nzPlaceHolder="Cliente"
          *ngIf="!purchaseOrder.id">
          <nz-option *ngFor="let client of clients" [nzValue]="client" [nzLabel]="getLabelClient(client)"></nz-option>
        </nz-select>
        <input type="text" [disabled]="true" nz-input [value]="getLabelClient(purchaseOrder.client!)"
        *ngIf="purchaseOrder.id"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
<form nz-form nzLayout="inline" [formGroup]="formOrderItem" (ngSubmit)="submitFormOrderItem()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Por favor selecione um Produto!">
      <nz-input-group>
        <nz-select nzShowSearch formControlName="product" class="select-product" nzPlaceHolder="Produto">
          <nz-option *ngFor="let product of getProducts()" [nzValue]="product" [nzLabel]="product.description!"></nz-option>
        </nz-select>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Quantidade inválida!">
      <nz-input-group>
        <input type="number" nz-input formControlName="quantity" placeholder="Quantidade"
          class="quantity" min="1"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button nzType="primary">
    <em nz-icon nzType="plus-circle" nzTheme="outline"></em>
  </button>
</form>
<nz-table #basicTable [nzData]="orderItems" [nzLoading]="loading" class="table-order-items" [nzPageSize]="5">
  <thead>
    <tr>
      <td>Produto</td>
      <td>Quantidade</td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.product!.description}}</td>
      <td>
        <input type="number" nz-input [(ngModel)]="data.quantity" class="quantity" min="1"
          (change)="changeQuantity(data)"/>
      </td>
      <td>
        <nz-space [nzSize]="size">
          <button *nzSpaceItem nz-button nzType="primary" (click)="deleteOrderItem(data)">
            <em nz-icon nzType="delete" nzTheme="outline"></em>
          </button>
        </nz-space>
      </td>
    </tr>
  </tbody>
</nz-table>
<button nz-button class="purchase-order-form-button purchase-order-form-margin"
  nzType="primary" (click)="submitForm()">Salvar</button>
