<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a routerLink="/">
      <i nz-icon nzType="home"></i>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    <a routerLink="/client">
      <i nz-icon nzType="user"></i>
      <span>Lista de clientes</span>
    </a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Cadastrar cliente</nz-breadcrumb-item>
</nz-breadcrumb>

<h1 nz-typography class="client__title">Cadastrar cliente</h1>

<form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your firstName!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="firstName" placeholder="firstName" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your lastName!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="lastName" placeholder="lastName" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your cpf!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="cpf" placeholder="cpf" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Salvar</button>
</form>
